
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
<link type="text/css" rel="stylesheet" href="/css/style.css">
    
    <title>Refresh</title>
</head>
<style>

</style>
<body>
       <header>
      <h1 class="display-1 text-center heading"><span>Re</span>fresh !</h1>
      <a href="/salary/addsalary"><button class="homeBtn" type="button">Add Salary</button></a>
      <p class="lead">
        Refresh ! is a social network for anonymous salary sharing <br />
        <small>Share your salary anonymously and get feedback from others</small>
      </p>
      <div class="wrap">
        <div class="search">
          <form action="/salary" method="post">

          
          <input
            type="text"
            class="searchTerm"
            placeholder="What are you looking for?" 
            name="search"/>
   
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>
          </form>
        </div>
      </div>
    </header>

    {{!-- <section class="btn-group text-center">
      <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-primary" type="button">Software</button>
        <button class="btn btn-primary" type="button">Finance</button>
        <button class="btn btn-primary" type="button">Civil Service</button>
        <button class="btn btn-primary" type="button">Enginnering</button>
        <button class="btn btn-primary" type="button">Accounting</button>
        <button class="btn btn-primary" type="button">Cyber</button>
        <button class="btn btn-primary" type="button">AeroSpace</button>
        <button class="btn btn-primary" type="button">General</button>
        <button class="btn btn-primary" type="button">Startup</button>
        <button class="btn btn-primary" type="button">Sales</button>
        <button class="btn btn-primary" type="button">DevOps</button>
        <button class="btn btn-primary" type="button">Design</button>
      </div>
    </section> --}}

    <main>
      
      


      <div class="row row-cols-1 row-cols-md-3">
        {{#each list}}
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-header"
            <h5 class="card-title">{{this.position}} || {{this.salary}}</h5>
              
              </div>
            <div class="content">
              <p>company: {{this.company}}</p>
              <p>Expiernce: {{this.expiernce}}</p>
              <p>Education: {{this.education}}</p>
              <p>age: {{this.age}}</p>
              <p>Gender : {{this.gender}}</p>
              <p>
                Another Information: {{this.notes}}
              </p>
            </div>

            <div class="reviewBtn">
              <button class="btn" id="green" onclick="{{{hello}}}">
                <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
              </button>
              <button class="btn" id="red">
                <i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i>
              </button>
            </div>
          
          </div>
        </div>
      
      </div>
     {{/each}}   
    </main>


    <footer class="bg-dark text-center text-white">
      <!-- Grid container -->
      <div class="bg-dark container p-4 pb-0">
        <!-- Section: Social media -->
        {{!-- <section class="bg-dark mb-4">
          <!-- Facebook -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #3b5998"
            href="#!"
            role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <!-- Twitter -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #55acee"
            href="#!"
            role="button"
            ><i class="fab fa-twitter"></i
          ></a>

          <!-- Google -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #dd4b39"
            href="#!"
            role="button"
            ><i class="fab fa-google"></i
          ></a>

          <!-- Instagram -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #ac2bac"
            href="#!"
            role="button"
            ><i class="fab fa-instagram"></i
          ></a>

          <!-- Linkedin -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #0082ca"
            href="#!"
            role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>
          <!-- Github -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #333333"
            href="#!"
            role="button"
            ><i class="fab fa-github"></i
          ></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container --> --}}

      <!-- Copyright -->
      <div class="text-center p-3" >
        © 2022 Copyright:
        <a class="text-white" href="#">Rrefresh</a>
      </div>
      <!-- Copyright -->
    </footer>


  </body>
  
</html>

</body>
</html>

